/* CSS FILE FOR GAME PAGE

Made by Cromulent Coder (https://github.com/CromulentCoder)

*/

body {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    margin: 0;
    background-image: url("../pics/background_image.jpg");
    overflow-x:hidden;
    min-width: 300px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.container {
    height: 100%;
    min-height: 100%;
}

[class*="col-"] {
    float: left;
    padding: 1.5%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 95%;
    padding-left: 2.5%;
  }
}

@media only screen and (max-width: 700px) and (min-width: 500px) {
    .col-1,.col-2,.col-3,.col-4 {
        width: 85%;
        padding-left: 2.5%;
    }
    .col-5,.col-6, .col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
        width: 85%;
        padding-left: 2.5%;
    }

}
  
.canvas-score{
    min-width: 10%;
    position: absolute;
    margin-left: 1%;
    padding: 2%;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

.scores-container {
    justify-content: center;
    margin-top: .2%;
    /* margin-right: 2%; */
}

.table {
    width: 90%;
    max-width: 100%;
    margin-left: auto;
    margin-bottom: 2rem;
    /* opacity: 0.8; */
    border-collapse: collapse; 
}
table tr {
    transition: all 0.3s ease;
}

table th,td{
    text-align: left;
    padding: 0.5rem;
    vertical-align: top;
    border-top: 0;
    transition: all 0.3s linear;
}

.table td {
    width: auto;
    height: auto;
    overflow: hidden;
}

.table-header {
    font-size: 1.8rem;
    margin: 2%;
    color: #757575;
    font-weight: 400;
}

.table-content {
    font-size: 1.3rem;
    color: #D0D0D0;
}

tr:hover td{
    border-bottom: 3px solid #D0D0D0;
}

.footer{
    /* padding: 2px 16px; */
    color: white;
    width: 100%;
    text-align: center;
    margin: 2%;
}

@media only screen and (max-width: 750) {
    /* .canvas-container, .scores-container {
        align-content: center;
        justify-content: center;
        display: block;
        vertical-align:top;
    } */
} 